<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  PodiumPro was conceived by Kevin Shutta and launched by his intrepid team during a span of 33 hours at StartupWeekend/Fredericksburg, June 2013.
</p>