<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Podium Pro is a way to craft your public speaking on your schedule, and it's super simple to give it a world. Record yourself giving a speech, pitch, presentation, etc. you'd like feedback. Post that video to <a href="http://www.youtube.com">YouTube</a>. Provide us with the link to your YouTube video, and we'll take care of the rest. Come back later and see what people think!
</p>