<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <a href="mailto:gopodiumpro@gmail.com">Email us.</a>
  Follow @GOPODIUMPRO on Twitter.
  Friend us on <a href="https://facebook.com/gopodiumpro">FaceBook</a>.
</p>