<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<ul>
  <li><a href="mailto:gopodiumpro@gmail.com">Email us.</a></li>
  <li>Follow @GOPODIUMPRO on Twitter.</li>
  <li>Friend us on <a href="https://facebook.com/gopodiumpro">FaceBook</a>.</li>
</ul>