<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  We're in an extreme Beta mode. In fact, we've only really been working on this for two days. What yould you call that Alpha? (<a href="http://http://fredericksburg.startupweekend.org/">Click here</a> to see what would inspire such craziness!)
</p>
<p>
  Doesn't matter. Either way we'd love to here from you. Problems, concerns, suggestions, all of it. By all means <%= link_to "contact", contact_path %> us!
</p>