<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  We currently only support YouTube videos.
</p>
<p>
  We're in an extreme Beta mode. In fact, we only started working on this on Saturday, 8 June 2013.
  Would you call that Alpha?
  <br/>
  (<a href="http://http://fredericksburg.startupweekend.org/">Click here</a> to see what would inspire such craziness!)
</p>
<p>
  Doesn't matter. Either way we'd love to hear from you. Problems, concerns, suggestions, all of it. By all means <%= link_to "contact", contact_path %> us!
</p>