<footer class="footer">

  <div class="row">
    <div class="span8">
      <hr />
      <div id="output"></div>
      <hr />
    </div>
  </div>

  <small>
    <a href="<%= root_path %>">Podium Pro</a>
    by Kevin, Libby, Gray, Whit, Blaine, Ben, Bob, Jan, Ray, Carolyn
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
